.button{
    border: none;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    block-size: 30px;
    cursor: pointer;
    inline-size: 30px;
}

.button:active{
    transform: scale(.9);
}

.button:nth-child(1){
    background-image: url("../assets/images/-10.svg");
}
.button:nth-child(2){
    background-image: url("../assets/images/play.svg");
}
.button:nth-child(3){
    background-image: url("../assets/images/pause.svg");
}
.button:nth-child(4){
    background-image: url("../assets/images/+10.svg");
}