@import './button.css';

:root{
    --green: #26B4BC;
}

body{
    background: var(--green);
    margin: 0;
}

.wrapper{
    max-inline-size: 900px;
    margin: 0 auto;
}

.video{
    margin-block-start: 100px;
    position: relative;
}

.video video{
    aspect-ratio: 16/9;
    inline-size: 100%;
    vertical-align: middle;
}

.video-actions, .video-title{
    position: absolute;
    inset-block-start: 0;
}

.video-title{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    inset-block-start: 10px;
    inset-inline-start: 20px;
}

.video-actions{
    align-items: center;
    block-size: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    inline-size: 100%;
}

.video-range{
    display: flex;
    position: absolute;
    padding: 10px;
    inset-block-end: 0;
    inset-inline: 0;
}

.video-range input{
    flex: 1;
}