@import './button.css';

:root{
    --green: #26B4BC;
}

body{
    background: var(--green);
    margin: 0;
}

.wrapper{
    max-inline-size: 900px;
    margin: 0 auto;
}

.video video{
    inline-size: 100%;
}